<div class="container">
  <div class="sub-container dashboard">
    <div class="navigation-bar">
      <div class="search-container">
        <input class="search-field" placeholder="Search Earth" [formControl]="filter" />

        <div class="selection">
          <h1>No Fly Zones</h1>
          <ul class="list-container custom-scroll-bar">
            <li class="list-item" *ngFor="let item of noFlyZones">
              <button (click)="simulationRenderer.focus(item.cesiumEntity)">
                🙅 🚫 {{ item.info.id }}
              </button>
            </li>
          </ul>

          <h1>Flights</h1>
          <ul class="list-container custom-sroll-bar">
            <li class="list-item" *ngFor="let item of flights">
              <button
                (click)="simulationRenderer.focus(item.cesiumEntity.plane)"
              >
                ✈️ {{ item.flightInformation.flightId }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-container">
    <app-cesium-component #simulationRenderer></app-cesium-component>
  </div>
</div>
